[%#
#
# $HeadURL: svn+ssh://dev.horivert.com/var/svn/payex/vertex/trunk/root/main.tt $
# $LastChangedRevision: 952 $
# $LastChangedDate: 2006-12-04 09:11:52 +0000 (Mon, 04 Dec 2006) $
# $LastChangedBy: icydee $
#%]

[% INCLUDE header.tt %]

<h2>Main Page</h2>

<p>Main body of text</p>

[% INCLUDE footer.tt %]

